# created by virtualenv automatically
*.venv
.env
node_modules/
.idea/
tailwindcss
mediafiles/
rentify/accounts/migrations/00*
!/rentify/accounts/migrations/0001_initial.py
!/rentify/accounts/migrations/__init__.py
rentify/brands/migrations/00*
!/rentify/brands/migrations/0001_initial.py
!/rentify/brands/migrations/__init__.py
rentify/cars/migrations/00*
!/rentify/cars/migrations/0001_initial.py
!/rentify/cars/migrations/__init__.py
rentify/categories/migrations/00*
!/rentify/categories/migrations/0001_initial.py
!/rentify/categories/migrations/__init__.py
rentify/reviews/migrations/00*
!/rentify/reviews/migrations/0001_initial.py
!/rentify/reviews/migrations/__init__.py
rentify/vanilla/migrations/00*
!/rentify/vanilla/migrations/0001_initial.py
!/rentify/vanilla/migrations/__init__.py
__pycache__

