{% extends "base.html" %}
{% block main %}
    <main class="w-full max-w-3xl mx-auto p-6">
      <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <div class="p-4 sm:p-7">
          <div class="pb-4 text-center">
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Edit profile</h1>
          </div>
          <div class="mt-5">
            <!-- Form -->
            <form action="{% url 'profile-edit' pk=object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="grid grid-cols-2 gap-12 gap-y-4">
                  <!-- Form Group -->
                <div>
                  <label for="first_name" class="block text-sm mb-2 dark:text-white">First name</label>
                  <div class="relative">
                    <input type="text" id="first_name" name="first_name" placeholder="Enter your first name" value="{% if object.first_name %}{{ object.first_name }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.first_name %}
                            <ul class="text-red-500">{{ form.errors.first_name }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                  <!-- Form Group -->
                <div>
                  <label for="last_name" class="block text-sm mb-2 dark:text-white">Last name</label>
                  <div class="relative">
                    <input type="text" id="last_name" name="last_name" placeholder="Enter your last name" value="{% if object.last_name %}{{ object.last_name }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.last_name %}
                            <ul class="text-red-500">{{ form.errors.last_name }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
              <!-- Form Group -->
                <div>
                  <label for="email" class="block text-sm mb-2 dark:text-white">Email address</label>
                  <div class="relative">
                    <input type="text" id="email" name="email" placeholder="{% if object.user.email %}{{ object.user.email}}{% else %}Enter you email address{% endif %}" value="{{ object.user.email }}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.email %}
                            <ul class="text-red-500">{{ form.errors.email }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                 <!-- Form Group -->
                <div>
                  <label for="phone_number" class="block text-sm mb-2 dark:text-white">Phone number</label>
                  <div class="relative">
                    <input type="text" id="phone_number" name="phone_number" placeholder="Enter your phone number" value="{% if object.phone_number %}{{ object.phone_number }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.phone_number %}
                            <ul class="text-red-500">{{ form.errors.phone_number }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                 <!-- Form Group -->
                <div>
                  <label for="profile_picture" class="block text-sm mb-2 dark:text-white">Profile Picture</label>
                  <div class="relative">
                    <input type="file" id="profile_picture" name="profile_picture" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.profile_picture %}
                            <ul class="text-red-500">{{ form.errors.profile_picture }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                 <!-- Form Group -->
                <div>
                  <label for="city" class="block text-sm mb-2 dark:text-white">City</label>
                  <div class="relative">
                    <input type="text" id="city" name="city" placeholder="Enter your city" value="{% if object.city %}{{ object.city }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.city %}
                            <ul class="text-red-500">{{ form.errors.city }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                 <!-- Form Group -->
                <div>
                  <label for="country" class="block text-sm mb-2 dark:text-white">Country</label>
                  <div class="relative">
                    <input type="text" id="country" name="country" placeholder="Enter your country" value="{% if object.country %}{{ object.country }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.country %}
                            <ul class="text-red-500">{{ form.errors.country }}</ul>
                        {% endif %}
                  </div>
                </div>
                <!-- End Form Group -->
                 <!-- Form Group -->
                <div>
                  <label for="bio" class="block text-sm mb-2 dark:text-white">Bio</label>
                  <div class="relative">
                    <input type="text" id="bio" name="bio" placeholder="Tell us more about yourself" value="{% if object.bio %}{{ object.bio }}{% endif %}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                        {% if form.errors.bio %}
                            <ul class="text-red-500">{{ form.errors.bio }}</ul>
                        {% endif %}
                  </div>
                </div>
              </div>
                <div class="mt-8 flex justify-center">
                    <button type="submit" class="w-72 h-16 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Save</button>
                </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </main>
{% endblock %}