{% extends "base.html" %}
{% load static %}
{% block main %}
    <!-- Hero -->
<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-20">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
    <div>
      <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">Start your journey with <span class="text-blue-600">Rentify</span></h1>
      <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">Choose the car that fits you best. Select dates and book it.</p>
    <p class="mt-3 text-2xl font-bold text-gray-800 dark:text-gray-200">Enjoy your ride.</p>

      <!-- Buttons -->
      <div class="mt-7 grid gap-3 w-full sm:inline-flex">
        <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'cars-list' %}">
          See all cars
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
          <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800" href="{% url 'contact' %}">
          Contact us
        </a>
      </div>
      <!-- End Buttons -->


    </div>
    <!-- End Col -->
    <div class="relative ms-4">
      <img class="w-full rounded-md" src="{% static 'images/bmw-hero.jpeg' %}" alt="Image Description">
      <div class="absolute inset-0 -z-[1] bg-gradient-to-tr from-gray-200 via-white/0 to-white/0 size-full rounded-md mt-4 -mb-4 me-4 -ms-4 lg:mt-6 lg:-mb-6 lg:me-6 lg:-ms-6 dark:from-slate-800 dark:via-slate-900/0 dark:to-slate-900/0"></div>
      <!-- SVG-->
      <div class="absolute bottom-0 start-0">
        <svg class="w-2/3 ms-auto h-auto text-white dark:text-slate-900" width="630" height="451" viewBox="0 0 630 451" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
      </div>
      <!-- End SVG-->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->
<!-- Features -->
<div class="max-w-[85rem] mt-7 px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
{#  <div class="mt-7 grid md:grid-cols-2 justify-center text-center md:justify-between gap-3 w-full sm:inline-flex">#}
    <div class="mt-7 grid gap-3 w-full sm:inline-flex text-center">
    <!-- Stats -->
    <div class="p-4 h-auto w-full rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">Total Cars</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-3xl font-bold text-blue-600">{{ cars_count }}</p>
      <p class="mt-1 text-gray-500">Available for rent</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div class="p-4 h-auto w-full rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">Total Brands</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-3xl font-bold text-blue-600">{{ brands_count }}</p>
      <p class="mt-1 text-gray-500">To choose from</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div class="p-4 h-auto w-full rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">Total Categories</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-3xl font-bold text-blue-600">{{ categories_count }}</p>
      <p class="mt-1 text-gray-500">For every needs</p>
    </div>
    <!-- End Stats -->
      <!-- Stats -->
    <div class="p-4 h-auto w-full rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">Total Reviews</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-3xl font-bold text-blue-600">{{ review_count }}</p>
      <p class="mt-1 text-gray-500">Made in the platform</p>
    </div>
    <!-- End Stats -->
        <!-- Stats -->
    <div class="p-4 h-auto w-full rounded-lg border border-gray-200 text-gray-800 shadow-sm hover:bg-slate-900 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
      <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-gray-200">Total Bookings</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-3xl font-bold text-blue-600">{{ bookings_count }}</p>
      <p class="mt-1 text-gray-500">By our users</p>
    </div>
    <!-- End Stats -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
    <div class="max-w-[85rem] px-4 py-4 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mt-10 mb-10 lg:mb-14">
        <h2 class="text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">
            <span class="text-white">Recent</span>
            <span class="text-blue-600">Cars</span>
        </h2>    
    </div>
</div>
<div class="mt-7 flex flex-wrap justify-around justify-items-start px-12 gap-6">
    {% for car in cars %}
    <div class="flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden hover:shadow-lg transition dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] flex-1 p-4 md:p-5 mb-6">
        <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
            <img class="w-80 h-56 top-0 start-0 rounded-xl object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" src="{% if car.image %}{{ car.image.url }}{% else %}{%  static 'images/no_image.jpg' %}{% endif %}" alt="Image Description">
        </div>
        <div class="p-4 md:p-5">
            <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
                {{ car.brand.name }} {{ car.model }}
            </h3>
            <div class="pt-2 grid-cols-2 flex justify-between items-start">
                <a class="py-3 px-4 flex gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                    <img src="{% static 'images/price.png' %}" alt="price icon" class="w-5"/>
                        {{ car.price }} / day
                </a>
                <a class="py-3 px-4 inline-flex justify-end items-center gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                    <img src="{% static 'images/year.png' %}" alt="year icon" class="w-5"/>
                        {{ car.year }}
                </a>
            </div>
            <div class="grid-cols-2 flex justify-between items-start">
                <a class="py-3 px-4 flex gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                    <img src="{% static 'images/gearbox.png' %}" alt="gearbox icon" class="w-5"/>
                        {{ car.gearbox }}
                </a>
                <a class="py-3 px-4 inline-flex justify-end items-center gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                    <img src="{% static 'images/category.png' %}" alt="category icon" class="w-5"/>
                        {{ car.category.name }}
                </a>
            </div>
        </div>
    <div class="flex flex-col mt-2 gap-3 w-full sm:inline-flex">
{#        <form action="{% url 'car-booking' slug=car.slug %}"  method="post" >#}
{#            <input type="hidden" name="bill_to" value="{{ request.user.id }}">#}
{#            <input type="hidden" name="booked_car" value="{{ car.id }}">#}
{#            <!-- Input field for start_date -->#}
{#            <div class="flex mb-4">#}
{#            <label for="start_date" class="block text-sm mb-2 dark:text-white"></label>#}
{#            <input placeholder="Pick up date"#}
{#                type="text"#}
{#                onfocus="(this.type='date')"#}
{#                onblur="(this.type='text')" id="start_date" name="start_date" required class="cursor-pointer text-center mr-2 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">#}
{#            <!-- Input field for end_date -->#}
{#            <label for="end_date" class="block text-sm mb-2 dark:text-white"></label>#}
{#            <input placeholder="Return date"#}
{#                type="text"#}
{#                onfocus="(this.type='date')"#}
{#                onblur="(this.type='text')" id="end_date" name="end_date" required class="cursor-pointer text-center w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">#}
{#            </div>#}
{#        {% csrf_token %}#}
{#        <div class="flex">#}
{#            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 ">#}
{#                Book#}
{#            </button>#}
{#        </div>#}
{#    </form>#}
{#        {% if request.user.is_staff %}#}
{#        <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'car-edit' slug=car.slug %}">#}
{#          Edit#}
{#        </a>#}
{#         <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'car-delete' slug=car.slug %}">#}
{#          Delete#}
{#        </a>#}
{#        {% endif %}#}
        <a class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 " href="{% url 'car-booking' slug=car.slug %}">
          Book
        </a>
    </div>
</div>
{% endfor %}
</div>
    {% if not cars %}
    <div class="items-center">
        <a class="w-full py-3 px-4 text-white/[.8] text-3xl justify-center inline-flex text-center gap-x-2 text-sm font-semibold">
            There are no cars yet!
        </a>
    </div>
{% endif %}
    <!-- example -->
    <!-- Testimonials -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
<div class="max-w-2xl mx-auto text-center mt-10 mb-10 lg:mb-14">
    <h2 class="text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">
        <span class="text-white">Latest</span>
        <span class="text-blue-600">Reviews</span>
    </h2>
  </div>
  <!-- Grid -->
{#  <div class="mt-7 grid md:grid-cols-2 justify-center text-center md:justify-between gap-3 w-full sm:inline-flex">#}
    <div class="mt-7 grid gap-3 w-full sm:inline-flex">
    <!-- Card -->
          {% for review in reviews %}
    <div class="w-full flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
      <div class="flex-auto p-4 md:p-6">

        <p class="mt-3 sm:mt-6 text-base text-gray-800 md:text-xl dark:text-white"><em>
            {{ review.text }}       </em></p>
      </div>
      <div class="p-4 mt-4 flex justify-between items-center rounded-b-xl md:px-6">
        <h3 class="text-sm font-semibold text-gray-800 sm:text-base dark:text-gray-200">
            {{ review.author.user_profile.first_name }} {{ review.author.user_profile.last_name }}
        </h3>
        <p class="text-sm text-gray-500">
            {{  review.date|date:"d M Y" }}
        </p>
      </div>
    </div>
      {% endfor %}
    <!-- End Card -->
  </div>
{% if not reviews %}
    <div class="items-center">
        <a class="w-full py-3 px-4 text-white/[.8] text-3xl justify-center inline-flex text-center gap-x-2 text-sm font-semibold">
            There are no reviews yet!
        </a>
    </div>
{% endif %}

  <!-- End Grid -->
</div>

<!-- End Testimonials -->
{# Disable past dates #}
{% endblock %}

