{% extends "base.html" %}
{% load static %}
{% block main %}
 <!-- Body -->
<div class="flex justify-center">
  <div class="mt-12 max-w-3xl p-8 sm:p-7 overflow-y-auto">
    <div class="text-center">
      <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-200">
        Invoice
      </h3>
    </div>
<div class="mt-5 sm:mt-10 flex flex-col">
    <!-- Grid -->
    <div class="mt-5 sm:mt-10 flex justify-between">
      <div>
        <span class="block text-xl text-gray-500">Invoice #</span>
        <span class="block text-md font-medium text-gray-800 dark:text-gray-200">{{ booking.id }}</span>
      </div>
      <!-- End Col -->

      <div>
        <span class="block text-xl text-gray-500">Invoice date</span>
        <span class="block text-md font-medium text-gray-800 dark:text-gray-200">{{ booking.invoice_date }}</span>
      </div>
</div>
      <!-- End Col -->
<div class="mt-5 sm:mt-10 flex justify-between">
        <div>
        <span class="block text-xl text-gray-500">Car</span>
        <span class="block text-md font-medium text-gray-800 dark:text-gray-200">{{ booking.booked_car.brand.name }} {{ booking.booked_car.model }}</span>
      </div>
      <div>
        <span class="block text-xl text-gray-500">Payment method</span>
        <div class="flex items-center gap-x-2">
          <svg class="size-5" width="400" height="248" viewBox="0 0 400 248" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M254 220.8H146V26.4H254V220.8Z" fill="#FF5F00"/>
            <path d="M152.8 123.6C152.8 84.2 171.2 49 200 26.4C178.2 9.2 151.4 0 123.6 0C55.4 0 0 55.4 0 123.6C0 191.8 55.4 247.2 123.6 247.2C151.4 247.2 178.2 238 200 220.8C171.2 198.2 152.8 163 152.8 123.6Z" fill="#EB001B"/>
            <path d="M400 123.6C400 191.8 344.6 247.2 276.4 247.2C248.6 247.2 221.8 238 200 220.8C228.8 198.2 247.2 163 247.2 123.6C247.2 84.2 228.8 49 200 26.4C221.8 9.2 248.6 0 276.4 0C344.6 0 400 55.4 400 123.6Z" fill="#F79E1B"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="400" height="247.2" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <span class="block text-sm font-medium text-gray-800 dark:text-gray-200">•••• 4242</span>
        </div>
      </div>
      <!-- End Col -->
    </div>
  </div>

    <!-- End Grid -->

    <div class="mt-5 sm:mt-10">
      <h4 class="text-xs font-semibold uppercase text-center text-gray-800 dark:text-gray-200">Summary</h4>

      <ul class="mt-3 flex flex-col">
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border text-gray-800 -mt-px rounded-tl-lg first:mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
          <div class="flex items-center justify-between w-full">
            <span>Pick up date</span>
            <span>{{ booking.start_date }}</span>
          </div>
        </li>
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
          <div class="flex items-center justify-between w-full">
            <span>Return date</span>
            <span>{{ booking.end_date }}</span>
          </div>
        </li>
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200">
          <div class="flex items-center justify-between w-full">
            <span>Price per day</span>
            <span>$ {{ booking.booked_car.price }}</span>
          </div>
        </li>
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-semibold bg-gray-50 border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200">
          <div class="flex items-center justify-between w-full">
            <span>Total price</span>
            <span>$ {{ total_price }}</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- Button -->
    <div class="mt-5 flex justify-center gap-x-2">
     <form action="{% url 'checkout' pk=booking.pk %}" method="POST">
    {% csrf_token %}
      <button type="submit" class="py-3 px-8 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
          Checkout
      </button>
    </form>
    </div>
    <!-- End Buttons -->

    <div class="mt-5 sm:mt-10">
      <p class="text-sm text-gray-500">If you have any questions concerning this invoice, use the following contact information
          <br><a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium" href="#">
              dinevs@proton.com
          </a>
          or call at
          <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium" href="tel:+1898345492">+359 886 123 456
          </a></p>
    </div>
  </div>
</div>
      <!-- End Body -->
<!-- End Modal -->



{#  <!-- Invoice -->#}
{#  <div class="mt-12 w-[30em] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">#}
{#    <div class="sm:w-11/12 lg:w-3/4 mx-auto">#}
{#      <!-- Card -->#}
{#      <div class="flex flex-col p-4 sm:p-10 bg-white shadow-md rounded-xl dark:bg-gray-800">#}
{#        <!-- Grid -->#}
{#        <div class="mx-4 my-6 justify-between flex">#}
{#          <div>#}
{#            <img class="w-28" src="{% static 'images/main_logo.png' %}" alt="logo">#}
{#            <h1 class="mt-12 text-white font-bold text-4xl">Invoice</h1>#}
{#          </div>#}
{#          <!-- Col -->#}
{##}
{#          <div class="text-end">#}
{#            <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200">Invoice #</h2>#}
{#            <span class="mt-1 align-middle block text-white"> {{ booking.id }}</span>#}
{##}
{#            <address class="mt-4 font-semibold text-gray-800 dark:text-gray-200">#}
{#              77 Ocean Drive<br>#}
{#              Miami<br>#}
{#              USA<br>#}
{#            </address>#}
{#          </div>#}
{#          <!-- Col -->#}
{#        </div>#}
{#        <!-- End Grid -->#}
{##}
{#        <!-- Grid -->#}
{#        <div class="mx-4 text-center my-6 grid sm:grid-cols-2 gap-3">#}
{#          <div>#}
{#            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Bill to:</h3>#}
{#            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{ booking.bill_to.user_profile.first_name }} {{ booking.bill_to.user_profile.last_name }}</h3>#}
{#            <address class="mt-2 not-italic text-gray-500">#}
{#                {{ booking.bill_to.user_profile.city}}, {{ booking.bill_to.user_profile.country }}<br>#}
{#            </address>#}
{#              <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="mt-7 col-span-3 font-semibold text-gray-800 dark:text-gray-200">Invoice date:</dt>#}
{#                <div class="col-span-2 text-gray-500">{{ booking.invoice_date }}</div>#}
{#              </dl>#}
{#              <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="mt-7 col-span-3 font-semibold text-gray-800 dark:text-gray-200">Car:</dt>#}
{#                <div class="col-span-2 text-gray-500">{{ booking.booked_car.brand.name }} {{ booking.booked_car.model }}</div>#}
{#              </dl>#}
{#          </div>#}
{#          <!-- Col -->#}
{##}
{#          <div class="sm:text-end space-y-2">#}
{#            <!-- Grid -->#}
{#            <div class="mt-7 grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">#}
{#              <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Pick up date:</dt>#}
{#                <dd class="col-span-2 text-gray-500">{{ booking.start_date }}</dd>#}
{#              </dl>#}
{#                <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Return date:</dt>#}
{#                <dd class="col-span-2 text-gray-500">{{ booking.end_date }}</dd>#}
{#              </dl>#}
{#            </div>#}
{#            <!-- End Grid -->#}
{#          </div>#}
{#          <!-- Col -->#}
{#        </div>#}
{#        <!-- End Grid -->#}
{#        <!-- Flex -->#}
{#        <div class="mx-4 my-6 flex sm:justify-end">#}
{#          <div class="w-full max-w-2xl sm:text-end space-y-2">#}
{#            <!-- Grid -->#}
{#            <div class="grid text-center grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">#}
{#              <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Price per day:</dt>#}
{#                <dd class="col-span-2 text-gray-500">${{ booking.booked_car.price }}</dd>#}
{#              </dl>#}
{##}
{#              <dl class="grid sm:grid-cols-5 gap-x-3">#}
{#                <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total:</dt>#}
{#                <dd class="col-span-2 text-gray-500">${{ total_price }}</dd>#}
{#              </dl>#}
{#            </div>#}
{#            <!-- End Grid -->#}
{#          </div>#}
{#        </div>#}
{#        <!-- End Flex -->#}
{##}
{#        <div class="mt-8 sm:mt-12 text-center">#}
{#          <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Thank you!</h4>#}
{#          <p class="text-gray-500">If you have any questions concerning this invoice, use the following contact information:</p>#}
{#          <div class="mt-2">#}
{#            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">dinevs@proton.me</p>#}
{#            <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">+359 876997969</p>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <p class="mt-5 text-sm text-center text-gray-500">© 2024 Rentify</p>#}
{#      </div>#}
{#      <!-- End Card -->#}
{#        #}
{#      <!-- End Buttons -->#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#  <!-- End Invoice -->#}
{% endblock %}