{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rentify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" {% static 'css/output.css' %}">

</head>
<body class="dark:bg-slate-900 bg-gray-100 h-screen">
    {% include "vanilla/header.html" %}
    {% block main %}
    {% endblock %}
    {% include "vanilla/footer.html" %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const nameInput = document.querySelector('#name');
          const slugInput = document.querySelector('#slug');
    
          nameInput.addEventListener('input', function() {
            const name = this.value;
            slugInput.value = slugify(name);
          });
    
          function slugify(text) {
            return text.toString().toLowerCase()
              .replace(/\s+/g, '-')
              .replace(/[^\w\-]+/g, '')
              .replace(/\-\-+/g, '-')
              .replace(/^-+/, '')
              .replace(/-+$/, '');
          }
        });
      </script>
        <script src="{% static 'preline/dist/preline.js' %}"></script>
        {# Auto enter slug while typing name for categories and brands #}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const inputField = document.getElementById('id_image');
            const label = inputField.nextElementSibling;
        
            inputField.addEventListener('change', function() {
                label.textContent = inputField.files[0].name;
            });
        });
    </script>
    
    {# Disable past dates #}
    <script type="text/javascript">
        $(function(){
            const dtToday = new Date();
        
            let month = dtToday.getMonth() + 1;
            let day = dtToday.getDate();
            const year = dtToday.getFullYear();
            if(month < 10)
            month = '0' + month.toString();
            if(day < 10)
            day = '0' + day.toString();
            const maxDate = year + '-' + month + '-' + day;
           // Iterate through each start_date input
            $('input[name="start_date"]').each(function() {
                $(this).attr('min', maxDate);
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            const dtToday = new Date();
        
            let month = dtToday.getMonth() + 1;
            let day = dtToday.getDate();
            const year = dtToday.getFullYear();
            if(month < 10)
            month = '0' + month.toString();
            if(day < 10)
            day = '0' + day.toString();
            const maxDate = year + '-' + month + '-' + day;
           // Iterate through each start_date input
            $('input[name="end_date"]').each(function() {
                $(this).attr('min', maxDate);
            });
        });
    </script>
</body>
</html>