{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mt-10 mb-10 lg:mb-14">
    <h2 class="text-4xl font-bold md:text-4xl md:leading-tight dark:text-white">{{ category.name }}</h2>
  </div>
</div>
    <div class="mt-7 flex flex-wrap justify-around justify-items-start px-12 gap-6">
{% for car in object_list %}
    {% if not car %}
        <h1>No cars added</h1>
        {% endif %}
    <div class="w-full sm:px-2 flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden hover:shadow-lg transition dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] w-80 p-4 md:p-5 mb-6" href="#">
      <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
        <img class="w-80 h-56 top-0 start-0 rounded-xl object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" src="{% if car.image %}{{ car.image.url }}{% else %}{%  static 'images/no_image.jpg' %}{% endif %}" alt="Image Description">
      </div>
    <div class="p-4 md:p-5">
        <h3 class="text-lg text-center font-bold text-gray-800 dark:text-white">
            {{ car.brand.name }} {{ car.model }}
        </h3>
        <div class="pt-2 grid-cols-2 flex justify-around items-start">
            <a class="py-3 px-4 flex gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                <img src="{% static 'images/price.png' %}" alt="price icon" class="w-5"/>
                {{ car.price }} / day
            </a>
            <a class="py-3 px-4 inline-flex justify-end items-center gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                <img src="{% static 'images/year.png' %}" alt="year icon" class="w-5"/>
                {{ car.year }}
            </a>
        </div>
        <div class="grid-cols-2 flex justify-around items-start">
            <a class="py-3 px-4 flex gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
            <img src="{% static 'images/gearbox.png' %}" alt="gearbox icon" class="w-5"/>
            {{ car.gearbox }}
            </a>
            <a class="py-3 px-4 inline-flex justify-end items-center gap-x-2 text-sm font-medium bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                <img src="{% static 'images/category.png' %}" alt="category icon" class="w-5"/>
                {{ car.category.name }}
            </a>
        </div>
  </div>
    <div class="flex flex-col mt-2 gap-3 w-full sm:inline-flex">
        <form action="{% url 'car-booking' slug=car.slug %}"  method="post" >
            <input type="hidden" name="bill_to" value="{{ request.user.id }}">
            <input type="hidden" name="booked_car" value="{{ car.id }}">
            <!-- Input field for start_date -->
            <div class="flex mb-4">
            <label for="start_date" class="block text-sm mb-2 dark:text-white"></label>
            <input placeholder="Pick up date"
                type="text"
                onfocus="(this.type='date')"
                onblur="(this.type='text')" id="start_date" name="start_date" required class="cursor-pointer text-center mr-2 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            <!-- Input field for end_date -->
            <label for="end_date" class="block text-sm mb-2 dark:text-white"></label>
            <input placeholder="Return date"
                type="text"
                onfocus="(this.type='date')"
                onblur="(this.type='text')" id="end_date" name="end_date" required class="cursor-pointer text-center w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            </div>
        {% csrf_token %}
        <div class="flex">
            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 ">
                Book
            </button>
        </div>
    </form>
        {% if request.user.is_staff %}
        <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'car-edit' slug=car.slug %}">
          Edit
        </a>
         <a class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'car-delete' slug=car.slug %}">
          Delete
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}